<!-- Footer -->
<footer class="bg-pink-100 py-8">
    <div class="container mx-auto px-6">
     <div class="flex justify-between items-center border-b pb-4 mb-4">
      <div class="text-gray-600">
       Copyright © 2025 Be Bold | Powered by Be Bold
      </div>
      <div class="flex items-center">
       <span class="mr-4">
        Subscribe to our newsletter
       </span>
       <input class="border rounded py-2 px-4" placeholder="Your email address..." type="email"/>
       <button class="bg-black text-white py-2 px-4 rounded ml-2">
        SUBSCRIBE
       </button>
      </div>
     </div>
     <div class="flex justify-between">
      <div>
       <div class="text-black font-bold mb-2">
        Be Bold
       </div>
       <div class="text-gray-600">
        BEAUTY STORE
       </div>
      </div>
      <div class="space-y-2">
       <a class="text-gray-600 block" href="#">
        Shop All
       </a>
       <a class="text-gray-600 block" href="#">
        Makeup
       </a>
       <a class="text-gray-600 block" href="#">
        Skin Care
       </a>
       <a class="text-gray-600 block" href="#">
        Hair Care
       </a>
       <a class="text-gray-600 block" href="#">
        About
       </a>
       <a class="text-gray-600 block" href="#">
        Contact
       </a>
      </div>
      <div class="space-y-2">
       <a class="text-gray-600 block" href="#">
        Refund Policy
       </a>
       <a class="text-gray-600 block" href="#">
        Terms &amp; Conditions
       </a>
       <a class="text-gray-600 block" href="#">
        FAQ
       </a>
       <a class="text-gray-600 block" href="#">
        Privacy Policy
       </a>
      </div>
      <div class="flex space-x-4">
       <a class="text-gray-600" href="#">
        <i class="fab fa-facebook-f">
        </i>
       </a>
       <a class="text-gray-600" href="#">
        <i class="fab fa-twitter">
        </i>
       </a>
       <a class="text-gray-600" href="#">
        <i class="fab fa-instagram">
        </i>
       </a>
      </div>
     </div>
    </div>
   </footer>
    
   </body>
   </html>