 <!-- Header -->
 <header class="bg-white shadow-md">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
     <div class="text-2xl font-bold">
      Laris
     </div>
     <nav class="space-x-4">
      <a class="text-gray-600 hover:text-gray-800" href="#">
       Home
      </a>
      <a class="text-gray-600 hover:text-gray-800" href="#">
       Shop
      </a>
      <a class="text-gray-600 hover:text-gray-800" href="#">
       Collections
      </a>
      <a class="text-gray-600 hover:text-gray-800" href="#">
       About
      </a>
      <a class="text-gray-600 hover:text-gray-800" href="#">
       Contact
      </a>
     </nav>
     <div class="flex items-center space-x-4">
      <div style="position: relative;" class="relative">
       <input class="border border-gray-300 rounded-full py-2 px-4 pl-10 focus:outline-none focus:ring-2 focus:ring-gray-300" placeholder="Search" type="text"/>
       <img alt="Search icon" class="absolute left-3 top-1/2 transform -translate-y-1/2" height="20" src="./images/search.png" width="20"/>
      </div>
      <a  style="position: relative;" class="text-gray-600 hover:text-gray-800" href="#">
       <img alt="User account icon" class="w-5 h-5" height="24" src="./images/heart.png" width="24"/>
      </a>
      <a style="position: relative;" class="text-gray-600 hover:text-gray-800" href="#">
       <img alt="Wishlist icon" class="w-5 h-5" height="24" src="./images/shopping-bag.png" width="24"/>
      </a>
      <a style="position: relative;" class="text-gray-600 hover:text-gray-800" href="#">
       <img alt="Shopping cart icon" class=" w-5 h-5" height="24" src="./images/user.png" width="24"/>
      </a>
     </div>
    </div>
   </header>