<%- include('../../views/partials/admin/header') %>

<p style="display: inline-block; position: relative; left: 500px; top: -550px;">WELCOME DASHBOARD</p>
<%- include('../../views/partials/admin/footer') %>