<!-- Your dashboard file -->
<%-include('../../views/partials/admin/header')%>
    <!-- Your dashboard widgets and content -->
     <form action="admin/dashboard" method="get"></form>
    <p>Welcome to your dashboard</p>


<%-include('../../views/partials/admin/footer')%>
