<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="utf-8"/>
     <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
     <title>
      Sign In - Laris
     </title>
     <script src="https://cdn.tailwindcss.com">
     </script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet"/>
     <style>
   .error-message {
     color: red !important; 
     font-size: 0.8rem;
     font-weight: bold;
     display: none;
     margin-top: 5px;
   }
   
     </style>
    </head>
    <body class="font-roboto">

     
   <main class="flex justify-center items-center h-screen px-4 bg-cover bg-center" style="background-image: url(./images/logimage.jpg);">
     <!-- Main Content -->
  <div class="container mx-auto px-6">
    <div class="relative">

     <div class="absolute inset-0 flex items-center justify-center">
      <div class="bg-white p-8 rounded-lg shadow-lg w-96">
       <h2 class="text-2xl font-bold mb-4 text-center">
        Reset Password
       </h2>
    
       <form id="forgotForm" onsubmit="fogotPassword(event)">
        <div class="mb-4">
            <label class="block text-gray-700" for="email">
                Email *
            </label>
            <input 
                class="w-full border rounded py-2 px-3 mt-1" 
                id="email" 
                name="email" 
                required 
                type="email" 
                placeholder="Enter your registered email"
            />
            <div class="error-message" id="email-error"></div>
        </div>
        <div class="flex justify-between items-center mb-4">
            <button class="bg-gray-200 text-gray-700 py-2 px-4 rounded" type="submit" onclick="window.history.back()">
                Cancel
            </button>
            <button class="bg-black text-white py-2 px-4 rounded" type="submit" onclick="forgotPassword(event)" >
               Send OTP
            </button>
        </div>
    </form>
    
      </div>
     </div>
    </div>
   </div>
</main>


 <script src="/js/utils/inputFormValidator.js"></script>
<script src="/js/user/forgot-password.js"></script>
<script src="/js/utils/regex.js"></script> 
